.userProfile {
  display: flex;
  flex-wrap:wrap !important;
}
.userProfile-block1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5% 10%;
}
.userProfile-block1 > h1 {
  margin: 0%;
  padding: 0%;
  font-family: "Sora";
}
.userProfile-block1 > hr {
  width: 100%;
  border: 2px solid rgb(114, 6, 141);
  opacity: 0.7;
  border-radius: 50px;
}
.userProfile-block1 > div > img {
  width: 60%;
  height: 50vh;
  border-radius: 100%;
  margin: 10px;
}

.edit-profile {
  color: rgba(212, 68, 11, 0.897);
  width: max-content;
  text-align: center;
  margin: 1rem;
  padding: 10px 80px;
  /* background-color: rgba(212, 68, 11, 0.897); */
  text-decoration: none;
  border: 2px solid rgba(212, 68, 11, 0.897);
  transition: 0.5s all;
  border-radius:20px;
  font-size: 18px;
}
.edit-profile:hover{
    background-color: rgba(212, 68, 11, 0.897);
    text-decoration: none;
    color: white;
    border-radius: 0px;
    cursor: pointer;
}
.userProfile-block2{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}
.my-orders, .change-password{
    text-decoration: none;
    background-color: rgb(68, 24, 80);
    width: 250px;
    margin: 10px 0px;
    padding: 7px;
    color: white;
    text-align: center;
    transition: 0.5s all;
    font-family: "Sora";
}
.my-orders:hover, .change-password:hover{
    color: white;
    background-color: black;
    box-shadow: 5px 5px 20px black;
}
.userProfile-block2 > div > p {
    font-size: 17px;
    font-family: "Sora";
}